.wp-block-oiib {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.wp-block-oiib svg {
	width: 100%;
	height: 100%;
	display: block;
}

/* Error styles are loaded from resources/styles/icon-error.css */
